<a href="https://colab.research.google.com/github/Pakas0/2025_PBO_TI1C/blob/main/Jobsheet_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Jobsheet 01: Dasar Bahasa Pemrograman Python**

## Praktikum 01: Tipe Data Dasar

01: Tipe Data Number (Int, Float, Complex)

In [10]:
# 1. Number (int, float, complex)
# Integer (int)
angka_int = 10
print("angka_int =", angka_int, "->", type(angka_int))
# Float
angka_float = 3.14
print("angka_float =", angka_float, "->", type(angka_float))
# Complex
angka_complex = 2 + 3j
print("angka_complex =", angka_complex, "->", type(angka_complex))

angka_int = 10 -> <class 'int'>
angka_float = 3.14 -> <class 'float'>
angka_complex = (2+3j) -> <class 'complex'>

02: Tipe Data Boolean

In [11]:
# 2. Boolean
is_active = True
print("is_active =", is_active, "->", type(is_active))

is_active = True -> <class 'bool'>

03: Tipe Data String

In [12]:
# 3. String
teks = "Hello, Python!"
print("teks =", teks, "->", type(teks))

teks = Hello, Python! -> <class 'str'>

04: Tipe Data List

In [13]:
# 4. List
# List adalah tipe data terurut dan dapat diubah (mutable)
daftar_angka = [1, 2, 3, 4, 5]
print("daftar_angka =", daftar_angka, "->", type(daftar_angka))

daftar_angka = [1, 2, 3, 4, 5] -> <class 'list'>

05: Tipe Data Tuple

In [14]:
# 5. Tuple
# Tuple adalah tipe data terurut tetapi tidak dapat diubah (immutable)
koordinat = (10, 20)
print("koordinat =", koordinat, "->", type(koordinat))

koordinat = (10, 20) -> <class 'tuple'>

06: Tipe Data Dictionary

In [15]:
# 6. Dictionary
# Dictionary menyimpan data dalam pasangan key-value
data_mahasiswa = {
"nama": "Andi",
"nim": "A11.2022.12345",
"jurusan": "Teknik Informatika"
}
print("data_mahasiswa =", data_mahasiswa, "->", type(data_mahasiswa))

data_mahasiswa = {'nama': 'Andi', 'nim': 'A11.2022.12345', 'jurusan': 'Teknik Informatika'} -> <class 'dict'>

07: Tipe Data Set

In [16]:
# 7. Set
# Set adalah tipe data yang tidak terurut, unik (tiap elemen hanya muncul 1x)
himpunan_angka = {1, 2, 3, 2, 1}
print("himpunan_angka =", himpunan_angka, "->", type(himpunan_angka))

himpunan_angka = {1, 2, 3} -> <class 'set'>

08: Konversi Tipe Data (String -> Int)

In [17]:
# 8. Contoh penggunaan konversi tipe data
nilai_str = "100"
print("\nnilai_str =", nilai_str, "->", type(nilai_str))
nilai_int = int(nilai_str) # konversi string ke integer
print("nilai_int =", nilai_int, "->", type(nilai_int))

nilai_str = 100 -> <class 'str'>
nilai_int = 100 -> <class 'int'>

## Praktikum 02: Variabel dan Operasi Dasar

01: Pendeklarasian Variabel

In [18]:
# 1. Pendeklarasian Variabel
nama = "Budi"
umur = 20
tinggi = 170.5
is_student = True

print("Nama =", nama)
print("Umur =", umur)
print("Tinggi =", tinggi, "cm")
print("Mahasiswa =", is_student)

# Python tidak memerlukan deklarasi tipe data secara eksplisit.
# Tipe data variabel akan menyesuaikan nilai yang diberikan.

Nama = Budi
Umur = 20
Tinggi = 170.5 cm
Mahasiswa = True

02: Operasi Aritmatika

In [26]:
# 2. Operasi Aritmatika
a = 10
b = 3

penjumlahan = a + b       #Tambah
pengurangan = a - b       #Kurang
perkalian = a * b         #Kali
pembagian = a / b         #Bagi (Hasil Desimal/Float)
pembagian_bulat = a // b  #Bagi (Hasil bil. Bulat)
modulus = a % b           #Sisa Bagi
pangkat = a**b            #Pemangkatan

print("Operasi Aritmatika")
print("a =", a, "b =", b)
print("Penjumlahan", penjumlahan)
print("Pengurangan", pengurangan)
print("Perkalian", perkalian)
print("Pembagian", pembagian)
print("Pembagian Bulat", pembagian_bulat)
print("Modulus", modulus)
print("Pangkat", pangkat)

Operasi Aritmatika
a = 10 b = 3
Penjumlahan 13
Pengurangan 7
Perkalian 30
Pembagian 3.3333333333333335
Pembagian Bulat 3
Modulus 1
Pangkat 1000

03: Operasi Perbandingan

In [27]:
# 3. Operasi Perbandingan
# Menghasilkan nilai Boolean (True/False)
lebih_besar = a > b
lebih_kecil = a < b
sama_dengan = a == b
tidak_sama_dengan = a != b
lebih_besar_sama = a >= b
lebih_kecil_sama = a <= b

print("Operasi Perbandingan")
print("a =", a, "b =", b)
print("a > b =", lebih_besar)
print("a < b =", lebih_kecil)
print("a == b  =", sama_dengan)
print("a != =", tidak_sama_dengan)
print("a >= b =", lebih_besar_sama)
print("a <= b =", lebih_kecil_sama)

Operasi Perbandingan
a = 10 b = 3
a > b = True
a < b = False
a == b  = False
a != = True
a >= b = True
a <= b = False

04: Operasi Logika

In [28]:
from logging import log
# 4. Operasi Logika
# and, or, not

x =  True
y = False

logika_and = x and y
logika_or = x or y
logika_not_x = not y

print("Operasi Logika")
print("x =", x, "y =", y)
print("x and y =", logika_and)
print("x or y =", logika_or)
print("not x =", logika_not_x)

Operasi Logika
x = True y = False
x and y = False
x or y = True
not x = True

05: Contoh Penggunaan di Dalam Percabangan

In [30]:
# 5. Contoh penggunaan di dalam percabangan
if a > b and b > 0:
  print("\nKondisi terpenuhi: a lebih besar dari b, dan b masih mositif")
else:
    print("\nKondisi tidak terpenuhi atau b <=0")

Kondisi terpenuhi: a lebih besar dari b, dan b masih mositif

##Praktikum 03: Percabangan

01: IF Sederhana

In [33]:
# 1. IF Sederhana
# Program hanya mengeksekusi blok jika kondisinya True

nilai = 85
print("Contoh IF Sederhana:")
if nilai > 80:
  print("Selamat! Anda lulus dengan nilai tinggi.\n")

Contoh IF Sederhana:
Selamat! Anda lulus dengan nilai tinggi.

02: IF-ELSE

In [34]:
# 2. IF-ELSE
# Jika kondisi True, eksekusi blok if; jika False, eksekusi blok else

umur = 17
print("Contoh IF-ELSE:")
if umur >= 18:
  print("Anda sudah cukup umur untuk mendapatkan SIM.")
else:
  print("Anda belum cukup umur untuk mendapatkan SIM.\n")

Contoh IF-ELSE:
Anda belum cukup umur untuk mendapatkan SIM.

03: IF-ELIF-ELSE

In [35]:
# 3. IF-ELIF-ELSE
# Menangani banyak kondisi secara berurutan.
# Jika ada kondisi yang terpenuhi, blok yang bersangkutan dieksekusi,
# lalu program melewati blok kondisi setelahnya.

hari = "Rabu"
print("Contoh IF-ELIF-ELSE:")
if hari == "Senin":
  print("Hari Senin - Saatnya kembali bekerja!")
elif hari == "Selasa":
  print("Hari Selasa - Jadwal rapat mingguan.")
elif hari == "Rabu":
  print("Hari Rabu - Ada diskon di beberapa toko.")
else:
  print("Hari lainnya - Atur jadwalmu dengan baik.\n")

Contoh IF-ELIF-ELSE:
Hari Rabu - Ada diskon di beberapa toko.

04: IF Bersarang (Nested IF)

In [37]:
# 4. IF Bersarang (Nested IF)
# Kondisi di dalam kondisi, biasa digunakan jika kita perlu
# memeriksa sub-kondisi setelah kondisi pertama terpenuhi.

suhu = 35
print("Contoh IF Bersarang (Nested IF):")
if suhu > 30:
  print("Cuaca cukup panas.")
  if suhu > 40:
    print("Bahkan sangat terik! Disarankan banyak minum air.")
  else:
    print("Masih relatif normal, tapi tetap jaga kesehatan.")
else:
  print("Cuaca sepertinya cukup sejuk.\n")

Contoh IF Bersarang (Nested IF):
Cuaca cukup panas.
Masih relatif normal, tapi tetap jaga kesehatan.

05: Menggabungkan Percabangan dengan Operasi Logika

In [38]:
# 5. Menggabungkan Percabangan dengan Operasi Logika
# Memeriksa beberapa kondisi sekaligus dengan and, or, not

nilai_teori = 75
nilai_praktik = 80
print("Contoh IF dengan Operasi Logika AND/OR:")
if nilai_teori >= 70 and nilai_praktik >= 70:
  print("Anda lulus karena nilai teori dan praktik memadai.")
elif nilai_teori < 70 and nilai_praktik < 70:
  print("Anda perlu meningkatkan nilai teori dan praktik.")
elif nilai_teori < 70:
  print("Anda perlu meningkatkan nilai teori.")
else:
  print("Anda perlu meningkatkan nilai praktik.\n")

Contoh IF dengan Operasi Logika AND/OR:
Anda lulus karena nilai teori dan praktik memadai.

06: Penggunaan IF Ternary (atau Conditional Expression)

In [39]:
# 6. Penggunaan If Ternary (atau Conditional Expression)
# Bentuk ringkas: <hasil_if_true> if <kondisi> else <hasil_if_false>

angka = -5
print("Contoh If Ternary (Conditional Expression):")
status = "Positif" if angka > 0 else "Negatif atau Nol"
print("Angka =", angka, "=>", status)

Contoh If Ternary (Conditional Expression):
Angka = -5 => Negatif atau Nol

##Praktikum 04: Perulangan

01: FOR Loop dengan range()

In [42]:
# 1. FOR Loop dengan range()
print("FOR loop dengan range()")
for i in range(5):
  print("Perulangan ke-", i)
# range(5) menghasilkan nilai 0, 1, 2, 3, dan 4
# Sehingga perulangan akan berjalan sebanyak 5 kali
print() # pemisah output

FOR loop dengan range()
Perulangan ke- 0
Perulangan ke- 1
Perulangan ke- 2
Perulangan ke- 3
Perulangan ke- 4